<%- layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-3 mt-3">
                <h3>Listing Details</h3>
            </div>
            <div class="card show-card col-6 offset-3">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
                <div class="card-body ">
                    <p class="card-text">
                        <b>
                            <%= listing.title %>
                        </b> <br>
                        <%= listing.description %> <br>
                            $ <%= listing.price.toLocaleString("en-US") %> <br>
                                <%= listing.location %> <br>
                                    <%= listing.country %> <br>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="btns offset-3">
            <a href="/listing/<%= listing._id %>/edit" class="btn btn-dark edit-btn col-1 offset-2">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button type="submit" class="btn btn-dark offset-4">Delete</button>
            </form>
        </div>
    </body>